<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:insert="~{fragments/head}">
    <link rel="stylesheet" th:href="@{/webjars/dropzone/dist/min/dropzone.min.css}"/>
    <script th:src="@{/webjars/dropzone/dist/min/dropzone.min.js}"></script>
    <title>Model Details</title>
</head>
<body>
    <div th:insert="~{fragments/header}"></div>
    <div class="container-fluid min-vh-100">
        <h1 th:text="${talent.firstName} + ' ' + ${talent.lastName}"></h1>
        <div class="row justify-content-between">
            <div class="col-4">
                <h2>Stammdaten</h2>
                <table class="table">
                    <tr>
                        <th>Nummer</th>
                        <td th:text="${talent.modelNumber}"></td>
                    </tr>
                    <tr>
                        <th>Geschlecht</th>
                        <td th:text="${talent.gender.displayValue}"></td>
                    </tr>
                    <tr>
                        <th>Geburtsdatum</th>
                        <td th:text="${#temporals.format(talent.birthDate, 'dd.MM.yyy')}"></td>
                    </tr>
                    <tr>
                        <th>Straße</th>
                        <td th:text="${talent.address.street}"></td>
                    </tr>
                    <tr>
                        <th>Hausnummer</th>
                        <td th:text="${talent.address.streetNumber}"></td>
                    </tr>
                    <tr>
                        <th>PLZ</th>
                        <td th:text="${talent.address.zip}"></td>
                    </tr>
                    <tr>
                        <th>Ort</th>
                        <td th:text="${talent.address.city}"></td>
                    </tr>
                    <tr>
                        <th>Land</th>
                        <td th:text="${talent.address.country}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${talent.contact.email}"></td>
                    </tr>
                    <tr>
                        <th>Telefon</th>
                        <td th:text="${talent.contact.phone}"></td>
                    </tr>
                    <tr>
                        <th>Mobil</th>
                        <td th:text="${talent.contact.mobile}"></td>
                    </tr>
                    <tr>
                        <th>Größe</th>
                        <td th:text="|${talent.height}cm|"></td>
                    </tr>
                    <tr>
                        <th>Gewicht</th>
                        <td th:text="|${talent.weight}kg|"></td>
                    </tr>
                    <tr>
                        <th>Schuhgröße</th>
                        <td th:text="${talent.shoeSize}"></td>
                    </tr>
                    <tr>
                        <th>Konfektionsgröße</th>
                        <td th:text="${talent.clothingSize}"></td>
                    </tr>
                    <tr>
                        <th>Augenfarbe</th>
                        <td th:text="${talent.eyeColor.displayValue}"></td>
                    </tr>
                    <tr>
                        <th>Erstellt</th>
                        <td th:text="${#temporals.format(talent.created, 'dd.MM.yyy HH:mm')}"></td>
                    </tr>
                    <tr>
                        <th>Zuletzt bearbeitet</th>
                        <td th:text="${#temporals.format(talent.updated, 'dd.MM.yyy HH:mm')} ?: '-'"></td>
                    </tr>
                </table>
                <div class="col-auto btn-toolbar">
                    <form action="#" th:action="@{'/model/{id}/edit'(id=${talent.id})}" th:method="GET">
                        <button type="submit" class="btn btn-dark m-1"><i class="fa-regular fa-pen-to-square"></i> Bearbeiten</button>
                    </form>
                    <form action="#" th:action="@{'/model/{id}/delete'(id=${talent.id})}" th:method="DELETE">
                        <button type="submit" class="btn btn-danger m-1"><i class="fa-solid fa-trash"></i> Löschen</button>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <h2>Bilder
                    <button type="button" class="btn btn-dark"><i class="fa-solid fa-plus"></i></button>
                </h2>
                <form
                        id="uploadForm"
                        method="post"
                        th:action="@{'/model/{id}/media/upload'(id=${talent.id})}"
                        enctype="multipart/form-data">
                    <input type="file" multiple name="files" />
                    <button class="btn btn-sm btn-outline-success float-right" type="submit">
                        Upload
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>