<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Model Übersicht</title>
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{https://cdn.datatables.net/2.0.2/js/dataTables.min.js}"></script>
    <script th:src="@{https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js}"></script>
    <script th:src="@{https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js}"></script>
    <script th:src="@{https://cdn.datatables.net/buttons/3.0.1/js/buttons.colVis.min.js}"></script>
</head>
<body>
    <header th:insert="~{fragments/header}"></header>
    <div class="container-fluid min-vh-100">
            <h1>Model Übersicht</h1>
                <div>
                    <a class="btn btn-dark mt-3 mb-2" th:href="@{/model/new}"><i class="fa-solid fa-plus"></i> Neu</a>
                </div>
                <div>
                    <table id="talentTable" class="display compact">
                        <thead>
                            <tr>
                                <th scope="col" th:text="Nr"></th>
                                <th scope="col" th:text="Vorname"></th>
                                <th scope="col" th:text="Nachname"></th>
                                <th scope="col" th:text="Geschlecht"></th>
                                <th scope="col" th:text="Geburtsdatum"></th>
                                <th scope="col" th:text="Straße"></th>
                                <th scope="col" th:text="Nr"></th>
                                <th scope="col" th:text="PLZ"></th>
                                <th scope="col" th:text="Ort"></th>
                                <th scope="col" th:text="Land"></th>
                                <th scope="col" th:text="Email"></th>
                                <th scope="col" th:text="Tel"></th>
                                <th scope="col" th:text="Mobil"></th>
                                <th scope="col" th:text="Größe"></th>
                                <th scope="col" th:text="Gewicht"></th>
                                <th scope="col" th:text="Konfektionsgröße"></th>
                                <th scope="col" th:text="Schuhgröße"></th>
                                <th scope="col" th:text="Augenfarbe"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
        <script type="text/javascript" th:src="@{js/jquery.spring-friendly.js}"></script>
        <script>
                $('#talentTable').DataTable({
                    ajax: '/models/fetch',
                    fixedHeader: true,
                    serverSide: true,
                    autoWidth: true,
                    processing: true,
                    responsive: true,
                    stateSave: true,
                    columns: [
                        {
                            data: 'modelNumber', searchable: false, orderable: false,
                            render: function (data, type, row, meta) {
                                return '<a href="/model/' + row.id + '">' + data + '</a>';
                            }
                        },
                        {data: 'firstName'},
                        {data: 'lastName'},
                        {data: 'gender'},
                        {data: 'birthDate' },
                        {data: 'address.street'},
                        {data: 'address.streetNumber' },
                        {data: 'address.zip' },
                        {data: 'address.city' },
                        {data: 'address.country' },
                        {data: 'contact.email',
                            fnCreatedCell: function (nTd, sData, oData) {
                                $(nTd).html("<a href='mailto:" + oData.contact.email + "'>" + oData.contact.email + "</a>");
                            }
                        },
                        {data: 'contact.phone',
                            fnCreatedCell: function (nTd, sData, oData) {
                                $(nTd).html("<a href='tel:" + oData.contact.phone + "'>" + oData.contact.phone + "</a>");
                            }
                        },
                        {data: 'contact.mobile',
                            fnCreatedCell: function (nTd, sData, oData) {
                                $(nTd).html("<a href='tel:" + oData.contact.mobile + "'>" + oData.contact.mobile + "</a>");
                            }
                        },
                        {data: 'height'},
                        {data: 'weight'},
                        {data: 'clothingSize'},
                        {data: 'shoeSize'},
                        {data: 'eyeColor'},
                    ],
                    layout: {
                        topStart: {
                            buttons: [
                                {
                                    extend: 'colvis',
                                    collectionLayout: 'fixed columns',
                                    popoverTitle: 'Column visibility control'
                                }
                            ]
                        }
                    }
                })
        </script>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>